<div class="notice"><%= flash[:notice] %></div>
<div class="form-container">
  

  <%= form_for @trip do |f| %>

      <h2>where are you going?</h2>
      <%= f.select(:mountain_id, Mountain.all.collect {|m| [m.name, m.id]}, { :include_blank => 'find your favorite spot'}) %>

      <h2>is this a good hashtag for your group?</h2>
      <%= f.text_field :hashtag, value: Trip.genhashtag, id: "genhashtag" %><br>

      <%= f.submit "Let's GO!" %>
    <% end %>

    <%= button_to "new hashtag please", "/genhashtag", method: "get", :remote => true %>  
        
</div>


<div class="container">
  <canvas id="snowfall-canvas"></canvas>
</div>


<script>snow()</script>

