

<div class="container form-container">
<div id="message"></div>
<h1>Welcome <%= current_user.user_name %></h1>

<%= form_for @trip, remote: true do |f| %>


    <h2>What mountain are you going to?</h2>
    <%= f.select :mountain_id, Mountain.all.collect {|m| [m.name, m.id]}, {prompt: 'select mountain'} %>

    <h2>What's your trip hashtag?</h2>
    <%= f.text_field :hashtag, value: Trip.genhashtag, id: "genhashtag" %><br>

    <%= f.submit %>
  <% end %>

  <%= button_to "Get Another Hashtag", "/genhashtag", method: "get", :remote => true %>  
      
</div>

<div class="container">
  <canvas id="snowfall-canvas"></canvas>
</div>


<script>snow()</script>

