


  <h1>Meet the Team</h1>

          <a href="#"><%= image_tag "http://uploads-registrar-flatironschool-com.s3.amazonaws.com/profiles/photos/production/88/large/blake_deboer_crop.jpg?1417210912" %></a>
          <h3>Blake</h3>
          <h3>Deboer</h3>
          <h4>Student @ The Flatiron School</h4>
           <p>
           I've loved to build things for as long as I can remember; I went into real estate development to be at the heart of the building process. While working in real estate, I got great feedback on financial models I built in Excel - my favorite part of the job. Eventually, I decided to find a career that would allow me to focus on those building skills, and give me the opportunity to directly create something.
           </p>

          <p>
          That following spring, I took some classes in code - it was exactly what I was looking for: The means to build something myself, and utilize both logic and creativity. A month later, after trying to teach myself to code on off-hours, I left my job to pursue web development full-time. I took some time off and spent the summer teaching myself Ruby, while teaching kids how to wakeboard in Fire Island. After I got back to the city, I enrolled at the Flatiron School. I've been loving every minute and can't wait to for what's next.
          </p>
          <%= link_to "See my profile at Flatiron People", "http://people.flatironschool.com/profiles/blake-deboer", :target => "_blank" %>

          <a href="#"><%= image_tag "http://uploads-registrar-flatironschool-com.s3.amazonaws.com/profiles/photos/production/101/large/Sam_Tran.jpg?1416415225" %></a>
          <h3>Sam</h3>
          <h3>Tran</h3>
          <h4>Student @ The Flatiron School</h4>
          <p>
          My name is Sam Tran and I used to be a tech recruiter. For the past four years, I have spoken and interacted with software developers every day. I got so good at it that engineers would stop and ask, "Sam, are you a programmer"? I heard that a lot; eventually, I decided to investigate.

          In June 2013, I wrote my first line of code during one of AppNexus's weekly Codecademy sessions. I got so excited for each weekly meetup, I'd often work on the projects at home.

          By the end of 2013, I had completed all of Codecademy's language tracks, finished Code School's JavaScript course, and built a personal static website via General Assembly's DASH tutorial. Interested in CS theory, I even completed Harvard's 16-week CS50 course online by mid 2014.

          After CS50, I interviewed for an internal engineering team within AppNexus and was brought on into a part-time apprenticeship (on the condition that I kept my full-time recruiting job). I realized I found the programming I was doing in my spare time to be more exciting than my actual job.

          At Flatiron School, I've built three separate web applications in ten weeks. It's been incredible. A year and a half after writing that first line of code, I'm confident as ever that I want this to be my lifelong career - I'm excited to be just getting started.
          </p>
          <%= link_to "See my profile at Flatiron People", "http://people.flatironschool.com/profiles/sam-tran", :target => "_blank" %>

          <a href="#"><%= image_tag "http://uploads-registrar-flatironschool-com.s3.amazonaws.com/profiles/photos/production/111/large/20141012_142653.jpg?1417664198" %></a>
          <h3>Jimmy </h3>
          <h3>Kuruvilla</h3>
          <h4>Student @ The Flatiron School</h4>
           <p>
             I am of Indian origin, I grew up in Saudi Arabia, and came to the US for college in 2001. I graduated from my combined degree program with a bachelor's degrees in Physics and Environmental Engineering in 2007. From 2007 to 2014 I have lived and worked in NYC as an environmental engineer for a consulting firm on Long Island.

             I sometimes had extended downtime between projects at my previous position, and I filled it by learning how to program. Python quickly became my go to language for office task scripting, and I saved myself a lot of time with automation scripts. I shared them with coworkers who needed the same routines shortened and CAMPer, PhotoRanger, SpecSorter and Serial Loader were minor hits around the water cooler. Writing those scripts were fun and engaging, but I never thought of it as a potential career. That is, until May of 2014 when I heard about coding bootcamps on the radio.

             It was obvious to me that if there was a chance to make programming my career, I should attempt it, as I far preferred programming to environmental consulting. I applied to The Flatiron School, and am now working hard to begin my new life as a developer.
           </p>
           <%= link_to "See my profile at Flatiron People", "http://people.flatironschool.com/profiles/jimmy-kuruvilla", :target => "_blank" %>

